
pip install -U openai-whisper
pip install --upgrade --no-deps --force-reinstall git+https://github.com/openai/whisper.git
scoop install ffmpeg
pip install setuptools-rust
pip3 install --force-reinstall torch torchtext torchvision torchaudio torchrec --extra-index-url https://download.pytorch.org/whl/cu118
pip install pillow==10.0.0
pip install numpy==2.1.0

pip install pydub